<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodService</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FoodService</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 mr-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">О нас</a>
                            </li>
                        </ul>
                        <div class="navbar-nav">
                            <a class="nav-link font-size-18 text-dark mr-2" href="Profile/Basket">
                                <i class="fa fa-shopping-cart"></i>
                                Корзина
                                <span id="basketCounter" class="badge bg-primary rounded-pill text-light d-none"></span>
                            </a>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                    <span>@User.Identity.Name</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item d-none" href="#">Профиль</a>@*ToDo*@
                                    <a class="dropdown-item" href="/Profile/Orders">Заказы</a>
                                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                    {
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="Users">Панель администратора</a>
                                    }
                                    else if (User.IsInRole("Manager"))
                                    {
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="Products">Панель менеджера</a>
                                    }
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Выйти</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    }
    else
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FoodService</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 mr-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">О Нас</a>
                            </li>
                        </ul>
                        <div class="navbar-nav">
                            <a class="nav-link font-size-18 text-dark mr-2" href="Profile/Basket">
                                <i class="fa fa-shopping-cart"></i>
                                Корзина
                                <span id="basketCounter" class="badge bg-primary rounded-pill text-light d-none"></span>
                            </a>
                            <a class="btn btn-primary mr-sm-2" asp-controller="Account" asp-action="Register">Регистрация</a>
                            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Войти</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - FoodService - <a asp-area="" asp-controller="Home" asp-action="Privacy">О нас</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/js-cookie/js.cookie.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/basket-cookie.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(80920861, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/80920861" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>
