@model FoodService.Models.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "Оплата";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="form-group col-4">
            <h4>Оплата</h4>
            <label class="sr-only" for="inlineFormInputGroupUsername2">Номер карты</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-credit-card"></i></div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Номер карты">
                <div class="row mt-2">
                    <div class="col-7">
                        <div class="form-group">  
                            <input class="form-control" placeholder="MM / YY" /> 
                        </div>
                    </div>
                    <div class="col-5 pull-right">
                        <div class="form-group">
                            <input class="form-control" placeholder="CVC" /> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="h6 font-weight-bold">
                К оплате: 
                <span class="text-warning">@Model.Amount</span><i class="fa fa-rub"></i>
            </div>
            <a class="btn btn-success cursor-pointer" href="#">Оплатить</a>
        </div>
    </div>
</div>

@section Styles {
    <link href="/css/account-payment.css" rel="stylesheet" />
}